
aside {
  display: flex;
  flex-direction: column;
  width: var(--aside-width);
  gap: 12px;
  padding-bottom: 82px;
  position: sticky;
  top: 0px;
}

.search-form-container {
  position: sticky;
  padding-top: 5px;
  top: 0px;
  z-index: 3;
  background-color: #000;
  padding-bottom: 5px;
}

.search-form {
  display: flex;
  align-items: center;
  border-radius: 9999px;
  border: 1px solid var(--border-color);
  min-height: 42px;
  padding: 0.6px 13px;
  line-height: 16px;
  gap: 2px;
  background-color: #000;
}

/* .search-form::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -5px;
  background-color: #000;
  z-index: -1;
} */

.search-form .search-input {
  background-color: #000;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 16px;
  min-height: 40px;
}

.search-form .search-input::placeholder {
  color: var(--main-color);
}

.premium-link-container {
  border-radius: 12px;
  border: 1px solid rgb(47, 51, 54);
  padding: 12px 16px 12px 16.5px;
  transition-property: background-color box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.premium-link-description {
  color: rgb(231, 233, 234);
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}

.premium-link {
  font-size: 15px;
  padding: 8px 16px;
  background-color: var(--primary-color);
  display: inline-block;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  border-radius: 9999px;
  border: 1px solid transparent;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.premium-link:hover,
.premium-link:focus-visible {
  background-color: #1a8cd8;
}

.premium-link:focus-visible {
  box-shadow: rgb(247, 249, 250) 0px 0px 0px 2px;
  outline: none;
}

.aside-section {
  margin-top: 4px;
  border-radius: 16px;
  border: 1px solid var(--border-color);
  padding: 12px 0.5px 0;
  display: flex;
  flex-direction: column;
}

.trending-list {
  display: flex;
  flex-direction: column;
}

.aside-section-title {
  padding: 0 16px 12px;
}

.trending-header {
  display: flex;
  gap: 12px;
  padding: 12px 16px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  margin-left: -0.5px;
}

.trending-header-image {
  border-radius: 12px;
  overflow: hidden;
  width: 79.5px;
  height: 79.1px;
  display: flex;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

.trending-header-content {
  padding-top: 2px;
}

.trending-header-title {
  line-height: 20px;
}

.trending-subtitle,
.trending-notes {
  color: rgb(113, 118, 123);
  font-size: 13px;
  line-height: 16px;
}

.trending-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  padding: 12px 16px;
}

.trending-header:hover,
.trending-item:hover,
.trending-header:focus-visible,
.trending-item:focus-visible {
  background-color: rgba(255, 255, 255, 0.03);
}

.trending-item-header {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.options-icon {
  position: absolute;
  top: 14px;
  right: 16px;
}

.trending-item-title[data-lang="ar"] {
  text-align: right;
  font-family: Tahoma, Arial, sans-serif;
}

.trending-notes {
  margin-top: 2px;
}

.show-more-button {
  color: #1d9bf0;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
}

.who-to-follow-list {
  display: flex;
  flex-direction: column;
}

.who-to-follow-item {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  padding: 12px 16px;
}

.who-to-follow-header:hover,
.who-to-follow-item:hover,
.who-to-follow-header:focus-visible,
.who-to-follow-item:focus-visible {
  background-color: rgba(255, 255, 255, 0.03);
}

.who-to-follow-item-image {
  border-radius: 50%;
}

.who-to-follow-item-content {
  display: flex;
  flex-direction: column;
  gap: 1px;
  flex: 1;
}

.who-to-follow-name {
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  display: flex;
  gap: 2px;
  align-items: center;
}

.who-to-follow-name:hover {
  text-decoration: underline;
}

.who-to-follow-username {
  font-size: 15px;
  line-height: 20px;
  color: #666;
}

.who-to-follow-item-button {
  border-radius: 9999px;
  width: 78px;
  height: 32px;
  background-color: rgb(239, 243, 244);
  color: #000;
  font-size: 14px;
  font-weight: 700;
  padding: 7px 16px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.who-to-follow-item-button:hover,
.who-to-follow-item-button:focus-visible {
  background-color: rgb(215 219 220);
}

aside .footer-text {
  padding: 0 16px;
  margin: 6px 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 4px 12px;
}

aside .footer-text-item {
  display: flex;
  align-items: center;
  height: 20px;
  color: #71767b;
  text-decoration: none;
  font-size: 11px;
  line-height: 16px;
}

aside .footer-text-separator {
  margin-left: 4px;
  white-space: pre;
  font-size: 15px;
  color: rgb(89, 93, 98);
  text-decoration: initial;
}

.footer-text-more-icon {
  margin-left: 4px;
}

aside .footer-text a:hover {
  text-decoration: underline;
}