
header {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: calc(
    (
        100vw - var(--content-width) - var(--header-width) -
          var(--scrollbar-width) - 3px
      ) / 2
  );
  top: 0;
  padding: 0 7px 0 0px;
  bottom: 0;
  width: var(--header-width);
  padding-bottom: 13px;
  /* z-index: -1; */
}

.header-nav-container {
  flex: 1;
}

.main-logo {
  font-size: 32px;
}

.skiplink {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  visibility: hidden;
  z-index: -1;
}

.navlink {
  display: flex;
  transition: background-color 0.2s ease-in-out;
  border-radius: 9999px;
  color: var(--main-color);
  text-decoration: none;
  font-size: 20px;
  gap: 20px;
  padding: 12px 28px 12px 12px;
  align-items: center;
}

.navlink svg {
  display: block;
}

.navlink.current {
  font-weight: bold;
}

header nav {
  margin-bottom: 8px;
}

header nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header nav li {
  cursor: pointer;
}

.navlink:hover,
.logo:focus {
  background-color: rgb(239 243 244 / 0.1);
}

.navlink:focus-visible {
  box-shadow: rgb(247, 249, 250) 0px 0px 0px 2px;
  outline: none;
}

header .header-post-button {
  width: 90%;
  border-radius: 9999px;
  background-color: #eff3f4;
  color: var(--color);
  font-size: 17px;
  font-weight: 700;
  height: 52px;
  border: 0.8px solid #eff3f4;
  cursor: pointer;
  transition-property: background-color box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header-post-button:hover,
header .header-post-button:focus-visible {
  background-color: rgb(215 219 220);
}

header .header-post-button:focus-visible {
  box-shadow: rgb(247, 249, 250) 0px 0px 0px 2px;
  outline: none;
}

.header-post-button-icon {
  display: none;
}

.logo {
  width: 52px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  padding: 0;
  margin-bottom: 4px;
}

.profile-container {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
  border-radius: 9999px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition-property: background-color box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  justify-content: center;
}

.profile-container:focus-visible,
.profile-container:hover {
  background-color: rgb(239 243 244 / 0.1);
}

.profile-container:focus-visible {
  box-shadow: rgb(247, 249, 250) 0px 0px 0px 2px;
  outline: none;
}

.profile-container:hover {
  background-color: rgb(239 243 244 / 0.1);
}

.profile-container img {
  border-radius: 50%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 15px;
  gap: 3px;
  text-align: left;
}

.profile-name {
  font-weight: 700;
  color: var(--main-color);
}

.profile-username {
  color: rgb(113, 118, 123);
  font-feature-settings: "ss01";
}

.profile-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.blue-dot {
  width: 8px;
  height: 8px;
  background-color: #1da1f2;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: -3px;
}